.btn-primary {
    height: 400px;
    width: 300px;
    margin: 1vh 1vh 1vh 1vh;
}
.btn-secondary {
    height: 400px;
    width: 300px;
    margin: 1vh 1vh 1vh 1vh;
}
.btn-info {
    height: 400px;
    width: 300px;
    margin: 1vh 1vh 1vh 1vh;
}